SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key-in-production
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_NAME="db.sqlite3"
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-app-specific-password
CORS_ALLOW_ALL_ORIGINS=true